pandas==2.3.3
numpy==2.4.2
scikit-learn==1.8.0
scipy==1.17.1
optuna==4.8.0

torch==2.11.0
pytorch-tabnet==4.1.0
pytorch_tabular==1.2.0
pytorch-lightning==2.6.1
torchmetrics==1.8.2

xgboost==3.2.0

matplotlib==3.10.8
seaborn==0.13.2